<%= render @movie %>

<span class="back"><%= link_to '<<<', movies_path %></span>

<div class="detailBox">


  <div class="titleBox">
    Share your expressions ;)
  </div>


  <div class="commentBox">
    Bla bla bla
  </div>


  <div class="actionBox">
    <!-- Comments -->
    <ul class="commentList">
      <%= render 'comments/comments', movie: @movie %>
    </ul>

    <%= form_for @movie.comments.new, remote: true do |f| %>
        <span class="form-inline">
          <span class="form-group">
            <%= f.text_field :comment, class: 'form-control', placeholder: 'Your comments' %>
          </span>
          <%= f.hidden_field :commentable_id, value: @movie.id %>
          <%= f.hidden_field :commentable_type, value: @movie.class %>
          <span class="form-group">
            <%= f.submit :Add, class: 'btn btn-default' %>
          </span>
        </span>
    <% end %>
  </div>


</div>